@model AddressViewModel

@{
    ViewData["Title"] = "AddAddressPage";
}

<form method="post">
    <div class="form-group">
        <label>AddressId</label>
        <input asp-for="AddressId" class="form-control" placeholder="AddressId">
    </div> <br>
    <div class="form-group">
        <label>City</label>
        <input asp-for="City" class="form-control" placeholder="City">
    </div> <br>
    <div class="form-group">
        <label>Street</label>
        <input asp-for="Street" class="form-control" placeholder="Street">
    </div> <br>
    <div class="form-group">
        <label>HouseNumber</label>
        <input asp-for="HouseNumber" class="form-control" placeholder="HouseNumber">
    </div> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> <br>

@{
    await Html.RenderPartialAsync("UserActions");
}